{% extends "base.html" %}
{% block title %}Professionals{% endblock %}
{% block content %}
<br>
<div class="container">
<div class="card">
    <div class="card-header">
        <a href="/report"><i class="fas fa-arrow-left"></i> <strong>GenerateReport</strong></a>/AddProfessional
    </div>
    <div class="card-body card-block">
        <form action="/professionals" method="POST" enctype="multipart/form-data" class="form-horizontal">            
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="text-input" class=" form-control-label">Name</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="text" id="name" name="name" placeholder="Name" class="form-control" required>
                    <small class="form-text text-muted">Please enter professional's name</small>
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="email-input" class=" form-control-label">Email</label>
                </div>
                <div class="col-12 col-md-9">
                    <input type="email" id="email" name="email" placeholder="Enter Email" class="form-control" required>
                    <small class="help-block form-text">Please enter professional's email</small>
                </div>
            </div>               
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="textarea-input" class=" form-control-label">Obs</label>
                </div>
                <div class="col-12 col-md-9">
                    <textarea name="obs" id="obs" rows="9" placeholder="Content..." class="form-control" required></textarea>
                </div>
            </div>                
            <div class="card-footer" style="text-align: right;">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
            </div>
        </form>
    </div>        
</div>
</div>


{% endblock %}<!-- end content block -->