{% extends "base.html" %}

{% block title %}Neptune{% endblock %}

{% block styles %}
	{{ super() }}
	<style type="text/css">
		body{
			overflow-x: hidden;
		}
	</style>
{% endblock %}<!-- end styles block -->

{% block content %}
<div>
	<span style="display:block; word-wrap:break-word;">
	<h5>Port Scan @{{ip}}</h5>
	{% for p in nScan(ip) %}
		<hr/>
		<b>Port:</b> {{ p['Port'] }}<br>
		<b>Name:</b> {{ p['Name'] }}<br>
		<b>Reason:</b> {{ p['Reason'] }}<br>
		<b>State:</b> {{ p['State'] }}<br>
		<hr/>
	{% endfor %}
	</span>
</div>
{% endblock %}<!-- end content block -->