{% extends "base.html" %}

{% block title %}Neptune{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="card">
        <div class="card-header">
            <a href="/creds"><i class="fas fa-arrow-left"></i> <strong>SocialFish</strong></a>/GenerateReport
        </div>
            <div class="card-body card-block">
                <div class="">
                    <table class="table">
                        <thead>
                            <tr>                                    
                                <td><small>NAME</small></td>
                                <td><small>ROLE</small></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>                                   
                                <td>
                                    <div class="table-data__info">
                                        <h6>lori lynch</h6>
                                        <span>
                                            <a href="#">johndoe@gmail.com</a>
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <span class="role admin">admin</span>
                                </td>       
                                <td>
                                </td>                                    
                            </tr>                                
                        </tbody>
                    </table>
                </div>                    
            </div>
            <!-- END USER DATA-->
        </div>
</div>

{% endblock %}<!-- end content block -->