<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SocialFish">
    <meta name="author" content="UndeadSec">
    <meta name="keywords" content="SocialFish">

    <!-- Title Page-->
    <title>SocialFish Neptune</title>

    <!-- Fontfaces CSS-->
    <link href="/css/font-face.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Bootstrap CSS-->
    <link href="/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/css/theme.css" rel="stylesheet" media="all">

    <!-- Date Picker -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

</head>
<body>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <a href="/creds"><i class="fas fa-arrow-left"></i> <strong>SocialFish</strong></a>/GenerateReport
            </div>
                <div class="card-body card-block">
                    <div class="">
                        <table class="table">
                            <thead>
                                <tr>                                    
                                    <td><small>NAME</small></td>
                                    <td><small>ROLE</small></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>                                   
                                    <td>
                                        <div class="table-data__info">
                                            <h6>lori lynch</h6>
                                            <span>
                                                <a href="#">johndoe@gmail.com</a>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="role admin">admin</span>
                                    </td>       
                                    <td>
                                    </td>                                    
                                </tr>                                
                            </tbody>
                        </table>
                    </div>                    
                </div>
                <!-- END USER DATA-->
            </div>
    </div>

    <!-- Jquery JS-->
    <script src="/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/vendor/bootstrap-4.1/bootstrap.min.js"></script>

</script>
</body>
</html>