{% extends "base.html" %}

{% block styles %}
{{ super() }}
<style type="text/css">
    body {
        background: #222D32;
        font-family: 'Roboto', sans-serif;
    }
</style>
{% endblock %}<!-- end styles block -->

{% block content %}
<br><br><br>
    <div class="d-flex justify-content-center align-items-center">
            <img src="/logo/fish.svg" style="width: 10%" />            
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <p align="center"><h2 style="color: white; font-size: 100%;"> You have not yet set up an attack vector</h2></p>
    </div>
{% endblock %}<!-- end content block -->